{% extends "base.html" %}

{% block title %}Logs{% endblock %}

{% block content %}
<h1>Logs</h1>
<p>
{% for line in logs %}
  {% for field in line %}
    {% if "ERROR" in field %}<span class="label important">{{field}}</span>
    {%else%}
      {% if "Warning" in field %}<span class="label warning">{{field}}</span>
      {%else%}
        {% if "WARNING" in field %}<span class="label warning">{{field}}</span>
        {%else%}
          {% if "INFO" in field %}<span class="label">{{field}}</span>
          {%else%}
            {{field}}
          {%endif%}
        {%endif%}
      {%endif%}
    {%endif%}
  {% endfor %}</br>
{% endfor %}
</p>
{% endblock %}
